<!-- Main container-->
<div class="view hm-black-strong">
    <div class="flex-center" style="height: {{ hgt }}px">
    <ul>
        <li>
            <h1 class="h1-responsive wow fadeInDown orbitron" data-wow-delay="0.2s">Simple Web Site</h1>
        </li>

        <br>

        <li>
            <a target="_blank" href="#" class="btn btn-success btn-lg wow fadeInLeft" data-wow-delay="0.2s" style="background: none; border-radius: 0px;">DO IT</a>
            <a target="_blank" href="#" class="btn btn-success btn-lg wow fadeInRight" data-wow-delay="0.2s" style="background: none; border-radius: 0px;">DO IT 2</a>
        </li>
    </ul>

    </div>
    <!--Footer-->
      <!--Copyright-->
          <div style="background-color: #ccc; opacity: 0.3; text-align: center; width: 100%;">
                Made with ♥ by <a class="modern-link" style="color: #000" href="http://victoraurelio.com">ovictoraurelio</a>
          </div>
        <!--/.Copyright-->
    <!--/.Footer-->
</div>



